body {
  background-color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a {
  color: #885df1;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 2;
  color: #272044;
  text-align: center;
}
.form-container {
  padding: 36px;
  background-color: white;
  border-radius: 13px;
  margin-bottom: 30px;
  box-shadow: 0px 20px 60px rgb(65, 58, 100, 0.08);
}
form {
  display: flex;
}

.hint {
  line-height: 1.5;
  font-size: 12;
}
.instruction {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  margin-left: 10px;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 13px;
  padding: 14px 24px;
}
.poem {
  font-size: 14px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
  margin-top: 30px;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
